::-webkit-scrollbar {
  display: none; }

.pointer {
  cursor: pointer; }

.desktop-responsive {
  display: none; }

ck-nav.ng-hide-remove, ck-project-details.ng-hide-remove {
  -webkit-transition: 0.3s linear all;
  /* Chrome */
  transition: 0.3s linear all;
  opacity: 0; }

ck-nav.ng-hide-remove.ng-hide-remove-active, ck-project-details.ng-hide-remove-active {
  opacity: 1; }

ck-nav.ng-hide-add, ck-project-details.ng-hide-add {
  -webkit-transition: 0.3s linear all;
  /* Chrome */
  transition: 0.3s linear all;
  opacity: 1; }

ck-nav.ng-hide-add.ng-hide-add-active, ck-project-details.ng-hide-add-active {
  opacity: 0; }

body {
  margin: 0;
  padding: 0;
  color: rgba(2, 119, 189, 0.87);
  text-transform: lowercase;
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.pointer {
  cursor: pointer; }

.text-shadow {
  text-shadow: 0px 2px 6px #585858; }

.fullscreen {
  height: calc(100vh - 100px); }

.width-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%; }

@media (min-width: 320px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center; }

  header {
    background: rgba(120, 144, 156, 0.93);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 10px;
    z-index: 100; }
    header .width-wrap a, header .width-wrap p {
      padding: 0;
      margin: 0; }
    header .width-wrap .site-title {
      display: inline-block;
      text-align: right;
      font-size: 1.5em; }
    header .width-wrap .menu-icon {
      display: inline-block;
      height: 4em; }
    header .width-wrap .header-menu {
      flex-direction: row; }
      header .width-wrap .header-menu a, header .width-wrap .header-menu p, header .width-wrap .header-menu i {
        margin: 0;
        padding: 0; }
      header .width-wrap .header-menu p {
        padding: 10px; }
      header .width-wrap .header-menu .links {
        margin: 0;
        padding: 0; }

  ck-nav {
    position: fixed;
    width: 100vw;
    right: 0;
    top: 97px;
    z-index: 99;
    background: rgba(120, 144, 156, 0.93);
    color: white;
    font-size: 1.5em; }
    ck-nav p {
      margin: 5px;
      padding-left: 35px; }
    ck-nav .curtain {
      position: fixed;
      top: 210px;
      left: 0;
      height: calc(100vh - 197px);
      width: 100vw;
      z-index: 25; }

  ck-home {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    background: rgba(2, 119, 189, 0.87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; }
    ck-home .headshot {
      height: 280px;
      border-radius: 140px; }
    ck-home h1 {
      font-size: 2.5em; }

  ck-projects {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column; }
    ck-projects .projects {
      display: flex;
      justify-content: center; }
      ck-projects .projects .width-wrap {
        margin: 0;
        padding: 0;
        color: rgba(2, 119, 189, 0.87);
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center; }
        ck-projects .projects .width-wrap .project {
          margin: 15px;
          width: 400px; }
          ck-projects .projects .width-wrap .project .screenshot {
            width: 100%; }

  ck-project-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    background: rgba(255, 255, 255, 0.93);
    display: flex;
    justify-content: center;
    align-items: center; }
    ck-project-details .project-details {
      width: 90%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      ck-project-details .project-details .project-screenshot {
        display: flex;
        justify-content: center;
        width: 70%; }
        ck-project-details .project-details .project-screenshot img {
          display: block;
          width: inherit; }
      ck-project-details .project-details .details {
        text-align: center;
        color: rgba(2, 119, 189, 0.87);
        width: 80%;
        padding: 5px; }
      ck-project-details .project-details .info {
        color: rgba(2, 119, 189, 0.87);
        width: 80%;
        padding: 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around; }
        ck-project-details .project-details .info .tech {
          text-align: left; }
          ck-project-details .project-details .info .tech p {
            padding: 0;
            margin: 0; }
        ck-project-details .project-details .info .github {
          text-align: left; }
    ck-project-details .close {
      position: fixed;
      top: 50px;
      right: 50px; }

  ck-about-me {
    width: 100%;
    background: rgba(2, 119, 189, 0.87);
    color: white;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-size: 0.8em; }
    ck-about-me .bio {
      margin-bottom: 50px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: justify; }
      ck-about-me .bio .width-wrap {
        padding: 10px; }
        ck-about-me .bio .width-wrap .bio-col-1 {
          width: 48%; }
        ck-about-me .bio .width-wrap .bio-col-2 {
          width: 45%; }
      ck-about-me .bio button {
        height: 80px;
        padding: 15px;
        background: none;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 1.5em;
        display: flex;
        flex-flow: row nowrap;
        align-items: center; }
      ck-about-me .bio button:active {
        background: rgba(2, 119, 189, 0.87);
        box-shadow: none; }

  ck-contact-me {
    background: white;
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    ck-contact-me .contact {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      ck-contact-me .contact .width-wrap .location {
        padding: 10px; }
        ck-contact-me .contact .width-wrap .location h5 {
          display: flex;
          align-items: center; }
      ck-contact-me .contact .width-wrap .center {
        padding: 10px; }
        ck-contact-me .contact .width-wrap .center .links i {
          border-radius: 3px;
          padding: 15px;
          font-size: 2em; }
        ck-contact-me .contact .width-wrap .center .links i:hover {
          box-shadow: 0px 0px 1px 3px #78909c; }

  ck-footer {
    margin: 0;
    padding: 0;
    height: 70px;
    background: #78909c;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; } }
@media (min-width: 1024px) {
  .mobile-responsive {
    display: none; }

  .desktop-responsive {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*# sourceMappingURL=new-style.css.map */
