// Variables
$font1: 'Exo 2', sans-serif;
// Material Palette
// $primary: rgba(0,150,136,0.87); // original 1
// $secondary: rgba(0,191,165,0.87); // original 2
// $accent: rgba(163,0,146,1); // original 3

// $primary: rgba(33,150,243,0.87);
$primary: rgba(255,255,255,1);
$secondary: rgba(13,71,161,0.87);
// $accent: rgba(163,0,146,1);
$accent: rgba(255,193,7,1);


::-webkit-scrollbar {
    display: none;
}
body {
  background: rgba(120,144,156,1);
  margin: 0;
  margin-top: 15px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $primary;
  font: {
    family: $font1;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba($secondary,0.93);
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  font-size: 1.8em;
  padding: 10px;
  z-index: 999;
  .site-title {
    margin-left: 95px;
    display: inline-block;
    text-align: right;
    font-size: 1.5em;
  }
  .menu-icon {
    width: 30%;
    margin-left: 20px;
    display: inline-block;
  }
  .header-menu {
    flex-direction: row;
    margin-right: 95px;
    a, p, i {
      margin: 0;
      padding: 0;
    }
    p {
      padding: 10px;
    }
    .links {
      margin: 0;
      padding: 0;
    }
  }
}
.menu-icon-back {
  padding-left: 15px;
}
.content {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  padding-top: 0;
}
.about-me {
  margin-top: 45px;
  width: 20%;
  position: fixed;
  right: 15px;
  text-shadow: 0px 0.5px 3px #4c4c4c;
  img {
    box-shadow: 1px 2px 4px 4px #4c4c4c;
  }
}
.about-me-headshot {
  width: 100px;
  border-radius: 40px;
}
.projects {
  width: 78%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 25px;
}
.project {
  width: 95%;
  .title {
    // color: rgba($primary,0.87);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    .github-corner {
      position: absolute;
      top: 117px;
      right: 0;
    }
  }
  .collaborators {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
    * {
      margin: 0;
    }
  }
  .collaborator {
    display: flex;
    flex-direction: row wrap;
    * {
      padding-right: 5px;
    }
  }
  .technologies, .github {
    margin-top: 15px;
    * {
      margin: 0;
    }
  }
  .technology {
    li {
      padding-left: 3px;
    }
  }
  .description {
    margin-top: 15px;
    text-align: justify;
    p:first-child {
      font-weight: 900;
    }
    * {
      margin: 0;
    }
  }
  div {
    width: 100%;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: inherit;
  }
}
.screenshot {
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 2px 3px 3px #4c4c4c;
}
p {
  cursor: default;
}
.pointer {
  cursor: pointer;
}
.shadow {
  text-shadow: 0px 2px 4px #4c4c4c;
}
.accent {
  color: $accent;
  font-variant: small-caps;
}
.responsive {
  clear: both;
}
.mobile-responsive {
  display: none;
}
.desktop-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fullscreen {
  position: absolute;
  left: 0;
  height: calc(100vh - 100px);
  width: 100vw;
}
.menu {
  background: rgba($secondary,1);
  color: rgba(white,0.87);
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  z-index: 1;
  p:first-child {
    margin-top: 60px;
  }
  p {
    text-align: center;
  }
}
.resume {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-top: 35px;
  }
  .contact-info {
    .address {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .contact-header {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .contact-phone, .contact-website {
        text-align: right;
      }
      .contact-separator {
        width: 5px;
      }
      p {
        margin: 0;
        padding: 0;
        width: 46%;
      }
    }
  }
  .technical-skills {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    ul {
      padding: 0;
      margin: 0;
    }
  }
  .resume-section {
    .resume-item:not(:first-child) {
      margin-top: 10px;
    }
    .resume-item {
      margin-bottom: 10px;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .resume-section:last-child {
    margin-bottom: 50px;
  }
}
ck-home {
  margin: 0;
  padding: 0;
  top: 100px;
  // background: red;
}
ck-projects {
  margin: 0;
  padding: 0;
  top: 100vh;
  // background: blue;
}


// if less than 925px wide: change about-me font-size
@media (max-width: 925px) and (min-width: 801px) {
  .about-me {
    font-size: 0.95em;
  }
}

// if less than 800px wide:
@media (max-width: 800px) and (min-width: 451px) {
  body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: justify;
    font-size: 1.4em;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .projects {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .project {
    width: 100%;
    .title a {
      margin-top: -15px;
      padding-top: -15px;
    }
  }
  .screenshot {
    width: 100%;
  }
  .about-me {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 0;
    right: 0;
    p {
      margin: 10px;
      padding: 0;
    }
    .about-me-headshot {
      display: none;
    }
  }
  .responsive {
    clear: both;
    border-bottom: 3px solid $accent;
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .mobile-responsive {
    display: inline-block;
  }
  .desktop-responsive {
    display: none;
  }
}
// if mobile (less than 450px wide):
@media (max-width: 450px) {emon

  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
  }
  header {
    .site-title {
      margin: 0;
      padding: 0;
      width: auto;
    }
    .menu-icon {
      margin: 0;
      padding: 0;
    }
  }
  .content {
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 0;
    margin-top: 0;
  }
  .projects {
    width: 100%;
    margin: 0;
  }
  .project {
    width: 100%;
    .title a {
      margin-top: -20px;
      padding-top: -20px;
    }
  }
  .screenshot {
    width: 100%;
  }
  .about-me {
    width: 100%;
    height: auto;
    position: relative;
    right: 0;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 0;
    padding: 0;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0;
    }
    .about-me-headshot {
      display: none;
    }
  }
  .responsive {
    width: 100%;
    clear: both;
    border-bottom: 2px solid $accent;
    display: inline-block;
    position: relative;
  }
  .mobile-responsive {
    display: inline-block;
  }
  .desktop-responsive {
    display: none;
  }
}
