::-webkit-scrollbar {
  display: none; }

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Exo 2", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.menu-icon-back {
  padding-left: 15px; }

.screenshot {
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 2px 3px 3px #4c4c4c; }

p {
  cursor: default; }

.pointer {
  cursor: pointer; }

.shadow {
  text-shadow: 0px 2px 4px #4c4c4c; }

.accent {
  color: #ffc107;
  font-variant: small-caps; }

.responsive {
  clear: both; }

.mobile-responsive {
  display: none; }

.desktop-responsive {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  display: flex;
  flex-direction: column; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(120, 144, 156, 0.93);
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  font-size: 1.8em;
  padding: 10px;
  z-index: 999; }
  header .site-title {
    margin-left: 95px;
    display: inline-block;
    text-align: right;
    font-size: 1.5em; }
  header .menu-icon {
    width: 30%;
    margin-left: 20px;
    display: inline-block; }
  header .header-menu {
    flex-direction: row;
    margin-right: 95px; }
    header .header-menu a, header .header-menu p, header .header-menu i {
      margin: 0;
      padding: 0; }
    header .header-menu p {
      padding: 10px; }
    header .header-menu .links {
      margin: 0;
      padding: 0; }

.fullscreen {
  height: calc(100vh - 100px);
  width: 100vw; }

ck-home {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  background: rgba(2, 119, 189, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }
  ck-home .headshot {
    height: 250px;
    border-radius: 175px; }

ck-projects {
  margin: 0;
  padding: 0;
  top: 100vh;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column; }
  ck-projects .projects-new {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
    ck-projects .projects-new .project-new {
      max-width: 400px; }

ck-about-me {
  background: rgba(2, 119, 189, 0.87);
  height: calc(50vh - 100px);
  width: 100vw; }

ck-footer {
  margin: 0;
  padding: 0;
  height: 71px;
  background: #0277bd;
  width: 100vw;
  text-align: center; }

@media (max-width: 925px) and (min-width: 801px) {
  .about-me {
    font-size: 0.95em; } }
@media (max-width: 800px) and (min-width: 451px) {
  body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: justify;
    font-size: 1.4em; }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 0; }

  .projects {
    width: 100%;
    margin: 0;
    margin-bottom: 20px; }

  .project {
    width: 100%; }
    .project .title a {
      margin-top: -15px;
      padding-top: -15px; }

  .screenshot {
    width: 100%; }

  .about-me {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 0;
    right: 0; }
    .about-me p {
      margin: 10px;
      padding: 0; }
    .about-me .about-me-headshot {
      display: none; }

  .responsive {
    clear: both;
    border-bottom: 3px solid #ffc107;
    width: 100%;
    display: inline-block;
    position: relative; }

  .mobile-responsive {
    display: inline-block; }

  .desktop-responsive {
    display: none; } }
@media (max-width: 450px) {
  emon
  body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 1.4em; }

  header .site-title {
    margin: 0;
    padding: 0;
    width: auto; }
  header .menu-icon {
    margin: 0;
    padding: 0; }

  .content {
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 0;
    margin-top: 0; }

  .projects {
    width: 100%;
    margin: 0; }

  .project {
    width: 100%; }
    .project .title a {
      margin-top: -20px;
      padding-top: -20px; }

  .screenshot {
    width: 100%; }

  .about-me {
    width: 100%;
    height: auto;
    position: relative;
    right: 0;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 0;
    padding: 0; }
    .about-me p {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 0; }
    .about-me .about-me-headshot {
      display: none; }

  .responsive {
    width: 100%;
    clear: both;
    border-bottom: 2px solid #ffc107;
    display: inline-block;
    position: relative; }

  .mobile-responsive {
    display: inline-block; }

  .desktop-responsive {
    display: none; } }

/*# sourceMappingURL=style.css.map */
