$font1: sans-serif;
$primary: rgba(0,145,234,1);
$secondary: rgba(120,144,156,1);
$test1: rgba(26,35,126,1);
$headerHeight: 6em;

.activeHeader {
    text-decoration: underline;
}

body {
    padding: 0;
    margin: 0;
    color: $primary;
    text-transform: lowercase;
    font: {
        family: $font1;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.text-shadow {
    text-shadow: 0 0 0.1em white;
}

.text-shadow-alt {
    text-shadow: 0 0 0.1em $primary;
}

.fullscreen {
    min-height: calc(100vh - #{$headerHeight});
}
.title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}
.flex.row {
    flex-direction: row;
}
    
.flex.col {
    flex-direction: column;
}
.flex.wrap {
    flex-wrap: wrap;
}    
.flex.nowrap {
    flex-wrap: nowrap;
}

.header {
    background: $test1;
    color: white;
    margin: 0;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100vw;
    height: $headerHeight;
    z-index: 100;
    
    .header-menu {
        display: flex;
        flex-flow: row nowrap;
        .header-link {
            margin: 0 0 0 0.5em;
        }
    }
}

.ck-home {
    margin: $headerHeight 0 0 0;
    width: 100vw;
    position: relative;
    background: $primary;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    z-index: 1;
    
    .ck-home-content {
        position: fixed;
        
        .headshot {
            height: 20em;
            border-radius: 10em;
        }
    } 
    
}

.ck-projects {
    background: white;
    position: relative;
    z-index: 5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    .ck-projects-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 5;
    }
}

.ck-about-me {
    background: $primary;
    color: white;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    .ck-about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        width: 70%;
    }
}

.ck-footer {
    background: white;
    position: relative;
    display: flex;
    z-index: 15;
    justify-content: center;
    align-items: center;
    
    .contact {
        color: $primary;
    }
    
    .signature {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: $headerHeight;
        background: $secondary;
        color: white;
    }
}