$font: sans-serif;
$inn1: rgba(255,197,192,1);
$inn2: rgba(183,230,255,1);
$inn3: rgba(45,78,0,1);
$inn4: rgba(201,89,55,1);
$inn5: rgba(18,44,94,1);
$black: rgba(0,0,0,1);
$headerHeight: 3em;

body {
    
    padding: 0;
    margin: $headerHeight 0 0;
    color: $inn5;
    text-transform: lowercase;
    
    font: {
        family: $font;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }
    
    .signature {
        height: $headerHeight;
        display: flex;
        align-items: center;
    }
    
}

a {
    text-decoration: none;
    color: $inn3;
    letter-spacing: .3em;
    width: inherit;
    height: auto;
}

.header {
    
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: $inn2;
    color: $black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $headerHeight;
    z-index: 100;
    
    section {
        
        width: 25%;
        
        &:first-child {
            text-align: left;
        }
        
        &:nth-child(2) {
            text-align: center;
        }
        
        &:last-child {
            align-items: flex-end;
        }
    }

    .menu {
        
        display: flex;
        flex-flow: row-reverse nowrap;

        .link {
            margin: 0 0 0 0.5em;
            cursor: pointer;
        }
        
    }
    
}

.fullscreen {
    
    min-height: calc(100vh - #{$headerHeight});
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    
    .ghost {
        height: 0;
        width: 100%;
    }
    
    .headshot {
        height: 20em;
        border-radius: 10em;
    }

    &:nth-child(2n) {
        background: $inn1;
    }

    .content {
        
        display: flex;
        flex-flow: column;
        align-items: center;
        
        .bio {
            width: 500px;
        }
        
    }
    
    .project {
        
        display: flex;
        flex-flow: row nowrap;
        
        .fa-github {
            color: $inn2;
        }
        
    }
    
}