<div class="contact" ng-init="showPhone = false">
  <div class="width-wrap">
    <div class="location">
      <h5><img ng-src="./images/icons/location.svg">Location</h5>
      <p>2804 E Adams St</p>
      <p>Tucson, AZ 85716</p>
    </div>
    <div class="center">
      <h5>contact me</h5>
      <div class="links">
        <a href="https://github.com/conormcneil" target="_blank" class="fa fa-github pointer"></a>
        <a href="https://linkedin.com/in/conorkingston" target="_blank" class="fa fa-linkedin-square pointer"></a>
        <a href="mailto:conor@conorkingston.com" class="fa fa-envelope pointer"></a>
        <a class="fa fa-phone pointer" ng-click="showPhone = !showPhone"></a>
      </div>
      <h5 ng-show="showPhone">520.275.1232</h5>
    </div>
  </div>
</div>
