<header class="z-depth-1">
  <div class="width-wrap">
    <a href="/"><h2 class='site-title text-shadow pointer'>&copy; conor kingston</h2></a>
    <div class="mobile-responsive">
      <img src="./images/icons/ic_menu_white_24px.svg" alt="Menu" title="Menu" class="menu-icon pointer" ng-click="toggle('showMenu')">
    </div>
    <div class="desktop-responsive header-menu">
      <a href="#">
        <h5 class="active header-link pointer text-shadow" id="home-link">home</h5>
      </a>
      <a href="#projects">
        <h5 class="header-link pointer text-shadow" id="projects-link">projects</h5>
      </a>
      <a href="#about-me">
        <h5 class="header-link pointer text-shadow" id="about-me-link">about</h5>
      </a>
      <a href="#contact-me">
        <h5 class="header-link pointer text-shadow" id="contact-me-link">contact</h5>
      </a>
    </div>
  </div>
</header>
