<h3 class="text-shadow">About</h3>
<div class="bio">
  <div class="width-wrap">
    <div class="bio-col-1">
      <p>i am a full stack web developer who is passionate about finding simple solutions to complex problems through functional programming.</p>
      <p>i believe in clean code, elegant UI and robust testing. my ideal work environment values clear, effective communication and collaboration. though i am a self-motivated developer, i value the process that goes into producing a full-stack web app everyone is proud of.</p>
    </div>
    <div class="bio-col-2">
      <p>my web development skills include HTML5, CSS3 & SASS & Responsive Web Design, JavaScript & ES6, Angular.js, Node.js, jQuery.js, TDD (Jasmine, Mocha, Chai, Intern), Version Control (Git), and Agile Processes (Pivotal Tracker).</p>
      <p>prior to Galvanize, i worked at the Apple Store, including almost 3 years as a Genius repairing Mac computers, iOS devices, and customer relationships.</p>
    </div>
  </div>
  <form method="get" action="Kingston-Resume.pdf" target="_blank">
    <button type="submit" class="z-depth-1"><img ng-src="./images/icons/file_download_white.svg">Download Resume</button>
  </form>
  </div>
