<h3 class="text-shadow">About</h3>
<div class="bio">
  <div class="bio-col-1">
    <p>conor kingston is a full stack web developer who is passionate about solving complex problems through functional programming.</p>
    <p>this includes using technology to impact individual social habits. specifically, conor is interested in using technology to connect people with locally grown, healthy, affordable food.</p>
  </div>
  <div class="bio-col-2">
    <p>conor's skills include HTML5, CSS3 & SASS & Responsive Web Design, JavaScript & ES6, Angular.js, Node.js, jQuery.js, TDD (Jasmine, Mocha, Chai, Intern), Version Control (Git), and Agile Processes with Pivotal Tracker.</p>
    <p>prior to Galvanize, conor worked for 5 years at the Apple Store in various roles, including almost 3 years as a Genius repairing Mac computers, iOS devices, and customer relationships.</p>
  </div>
</div>
<form method="get" action="Kingston-Resume.pdf">
  <button type="submit" class="z-depth-1"><img ng-src="./images/icons/file_download_white.svg">Download Resume</button>
</form>
