<p>conor is a full stack web developer who is passionate about solving complex problems through programming.</p>
<p>this includes using technology to impact individual social habits. specifically, conor is interested in using technology to connect people with locally grown, healthy, affordable food.</p>
<br>
<p>conor is proficient in HTML5, CSS, SASS, JavaScript, Angular.js, Node.js, jQuery.js, </p>
<p>prior to Galvanize, conor worked for 5 years at the Apple Store in various roles, including almost 3 years as a Genius repairing Mac computers, iOS devices, and customer relationships.</p>
