<header class="z-depth-1">
  <div class="width-wrap">
    <a href="#home"><p class='site-title pointer'>&copy; conor kingston</p></a>
    <div class="mobile-responsive">
      <i class="menu-icon pointer fa fa-bars fa-lg" ng-click="toggle('showMenu')" aria-hidden="true"></i>
    </div>
    <div class="desktop-responsive header-menu">
      <a href="#projects">
        <p class="pointer">projects</p>
      </a>
      <a href="#about-me">
        <p class="pointer">about me</p>
      </a>
      <a href="#contact-me">
        <p class="pointer">contact</p>
      </a>
    </div>
  </div>
</header>
