<header class="z-depth-1">
  <div class="mobile-responsive">
    <i class="menu-icon pointer fa fa-bars" ng-click="toggle('showMenu')" aria-hidden="true"></i>
  </div>
  <div class="desktop-responsive">
    <a href="/">
      <p class="pointer">portfolio</p>
    </a>
    <a href="/#/resume">
      <p class="pointer">resume</p>
    </a>
    <!-- <a href="/#/contact">
      <p class="pointer" ng-click="view.showMenu = false;">contact</p>
    </a> -->
  </div>
  <p class='site-title'>&copy; conor kingston</p>
</header>
