<header class="z-depth-1">
  <div class="width-wrap">
    <a href="#home"><p class='site-title pointer'>&copy; conor kingston</p></a>
    <div class="mobile-responsive">
      <img src="./images/icons/ic_menu_white_24px.svg" alt="Menu" title="Menu" class="menu-icon pointer" ng-click="toggle('showMenu')">
      <!-- <i class="menu-icon pointer fa fa-bars fa-3x" ng-click="toggle('showMenu')" aria-hidden="true"></i> -->
    </div>
    <div class="desktop-responsive header-menu">
      <a href="#projects">
        <p class="pointer">projects</p>
      </a>
      <a href="#about-me">
        <p class="pointer">about</p>
      </a>
      <a href="#contact-me">
        <p class="pointer">contact</p>
      </a>
    </div>
  </div>
</header>
