<!-- TODO: css rule; width-wrap -->

<div class='menu mobile-responsive width-wrap'>
  <!-- <div class="width-wrap"> -->
    <a href="#">
      <p class="header-link-nav active-nav pointer text-shadow" ng-click="toggle('showMenu');" id="home-link-nav">home</p>
    </a>
    <a href="#projects">
      <p class="header-link-nav pointer text-shadow" ng-click="toggle('showMenu');" id="projects-link-nav">projects</p>
    </a>
    <a href="#about-me">
      <p class="header-link-nav pointer text-shadow" ng-click="toggle('showMenu');" id="about-me-link-nav">about</p>
    </a>
    <a href="#contact-me">
      <p class="header-link-nav pointer text-shadow" ng-click="toggle('showMenu');" id="contact-me-link-nav">contact</p>
    </a>
  <!-- </div> -->

  <!-- curtain closes menu on body select -->
  <div class="curtain" ng-click="toggle('showMenu');"></div>
</div>
