<div class='menu' ng-show="view.showMenu">
  <!-- <i class="menu-icon-back pointer fa fa-chevron-left" ng-click="toggle('showMenu')" aria-hidden="true"></i> -->
  <a href="#projects">
    <p class="pointer" ng-click="toggle('showMenu');">projects</p>
  </a>
  <a href="#about-me">
    <p class="pointer" ng-click="toggle('showMenu');">about me</p>
  </a>
  <a href="#contact-me">
    <p class="pointer" ng-click="toggle('showMenu');">contact</p>
  </a>
  <div class="curtain" ng-click="toggle('showMenu');"></div>
</div>
