<div class="project">
  <div class='title'>
    <a href="{{ project.url }}" target="_blank">
      <h1 class='shadow'>{{ project.title }}</h1>
    </a>
    <img ng-src="{{ project.screenshot }}" class="screenshot z-depth-3">
  </div>
  <div class="collaborators" ng-show="project.collaborators.length > 0">
    <p class="accent">Collaborators:</p>
    <div class="collaborator" ng-repeat="collaborator in project.collaborators">
      <p>{{ collaborator.name }}</p>
      <a href="{{collaborator.github}}" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="description">
    <p class='accent'>Description:</p>
    <p>{{ project.description }}</p>
  </div>
</div>
