<div class="resume">
  <h3 class="title shadow">conor kingston</h3>
  <div class="contact-info">
    <p class="address">5423 E 125th Ave, Thornton, Colorado 80241</p>
    <div class="contact-header">
      <p class="contact-phone">520.275.1232</p>
      <p class="contact-separator">|</p>
      <p class="contact-email">conork@me.com</p>
      <p class="contact-website">conorkingston.com</p>
      <p class="contact-separator">|</p>
      <p class="contact-github">github.com/conormcneil</p>
    <!-- <p class="contact-linkedin"></p> -->
  </div>
  </div>
  <h5 class="accent" style="align-self: flex-start;">Technical Skills</h5>
  <div class="technical-skills">
    <ul>
      <li>Angular.js</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>Postgresql</li>
    </ul>
    <ul>
      <li>HTML5</li>
      <li>CSS3/SASS</li>
      <li>jQuery.js</li>
      <li>Responsive Web Design</li>
    </ul>
    <ul>
      <li>Version Control (Github)</li>
      <li>APIs</li>
      <li>Hardware/Software Troubleshooting</li>
      <li>Interpersonal Skills</li>
    </ul>
  </div>
</div>
