<div class="resume">
  <h3 class="title shadow">conor kingston</h3>
  <div class="contact-info">
    <p class="address">5423 E 125th Ave, Thornton, Colorado 80241</p>
    <div class="contact-header">
      <p class="contact-phone">520.275.1232</p>
      <p class="contact-separator">|</p>
      <p class="contact-email">conor@conorkingston.com</p>
      <p class="contact-website">conorkingston.com</p>
      <p class="contact-separator">|</p>
      <p class="contact-github">github.com/conormcneil</p>
      <p class="contact-linkedin" style="margin: 0 auto; text-align: center;">linkedin.com/in/conorkingston</p>
    </div>
  </div>
  <h5 class="accent" style="align-self: flex-start;">Technical Skills</h5>
  <div class="technical-skills">
    <ul>
      <li>Angular.js</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>Postgresql</li>
    </ul>
    <ul>
      <li>HTML5</li>
      <li>CSS3/SASS</li>
      <li>jQuery.js</li>
      <li>Responsive Web Design</li>
    </ul>
    <ul>
      <li>Version Control (Github)</li>
      <li>APIs</li>
      <li>Hardware/Software Troubleshooting</li>
      <li>Interpersonal Skills</li>
    </ul>
  </div>
  <h5 class="accent" style="align-self: flex-start;">Projects</h5>
  <div class="resume-section">
    <div class="resume-item">
      <p class="accent">Farmer's Table, <em>https://farmerstable.herokuapp.com/</em></p>
      <p>Farmer's Table is an app developed primarily during a two-week sprint as the culmination of skills sharpened in the Galvanize Full Stack Immersive program. The app is designed to connect local farmer's to their communities by digitizing CSAs and providing a shared space for farmers and consumers to directly connect.</p>
    </div>
    <div class="resume-item">
      <p class="accent">Divide Yourself, <em>https://divideq3.herokuapp.com/</em></p>
      <p>Divide Yourself is a collaborative project built in 5 days with 4 fellow Galvanize students. The project allows users to discover nearby outdoor adventures and to share their photos.</p>
    </div>
    <div class="resume-item">
      <p class="accent">Finding Fido, <em>https://findingfido.herokuapp.com/</em></p>
      <p>Finding Fido is an application dedicated to reuniting users with their lost pets. It provides a platform where users can post details about lost/found pets and contact owners promptly directly using Twilio SMS if their pet is found.</p>
    </div>
    <div class="resume-item">
      <p class="accent">Follow the Money, <em>https://followthemoney.firebaseapp.com/</em></p>
      <p>Follow the Money is an application that enables users to tally and track Congressional committee spending on specific congressional races throughout the country. The app gathers candidates’ filing data per congressional race from the FEC API and compares the amount an incumbent candidate is spending versus his or her challengers.</p>
    </div>
  </div>
  <h5 class="accent" style="align-self: flex-start;">Education</h5>
  <div class="resume-section">
    <div class="resume-item">
      <p class="accent">Galvanize, <em>Full Stack Immersive Web Development Program (April - September 2016)</em></p>
      <p>Galvanize is a learning community for technology where one can become a web developer, data scientist, or build a startup. I took part in the Full Stack Immersive program, a rigorous, full-time 24-week course focused on creating contributing members of development teams. During my time at Galvanize I became proficient in JavaScript, HTML, CSS, Responsive Web Design, APIs, and Databases. Additionally, we focused heavily on Node.js, Express.js, Angular.js, and Postgres.</p>
    </div>
    <div class="resume-item">
      <p class="accent">University of Arizona, <em>(August 2013 - December 2014)</em></p>
      <p>Degree Incomplete • Studied Biomedical Engineering & Physics</p>
    </div>
  </div>
  <h5 class="accent" style="align-self: flex-start;">Work Experience</h5>
  <div class="resume-section">
    <div class="resume-item">
      <p class="accent">Apple, <em>Genius (March 2013 - February 2016)</em></p>
      <p>My primary focuses as a Genius were repairing customer relationships through skillful customer service, troubleshooting and repairing Mac computers, and servicing iOS devices. I also spent time developing the Genius team by creating partnerships aimed at increasing collaboration and personal development, maintaining meaningful peer relationships, and providing and receiving constructive and positive feedback to foster ongoing professional growth.</p>
    </div>
  </div>
  <h5 class="accent" style="align-self: flex-start;">Certifications</h5>
  <div class="resume-section">
    <div class="resume-item">
      <p class="accent">Apple Certified Mac Technician, <em>(March 2013)</em></p>
      <p>As an Apple Certified Mac Technician, I am certified to perform hardware repairs on Mac computers and iOS devices. I am also qualified to troubleshoot and resolve issue in Mac OS X and iOS.</p>
    </div>
  </div>
</div>
